<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mibarim.taximeter"
    android:versionCode="12"
    android:versionName="@string/version" >

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mibarim.taximeter.BootstrapApplicationImpl"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bootstrap.Dark.Me" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name="com.mibarim.taximeter.ui.activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.AddMapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LocationSearchActivity"
            android:label="@string/location_search"
            android:screenOrientation="portrait" />

        <service android:name="com.mibarim.taximeter.locationServices.LocationService" />
        <service android:name="com.mibarim.taximeter.locationServices.GoogleLocationService" />
        <service android:name="com.mibarim.taximeter.locationServices.LocationSender" />

        <receiver android:name="com.mibarim.taximeter.receiver.LocationReceiver" >
            <intent-filter>
                <action android:name="LOCATION_RECEIVER_INTENT" />
            </intent-filter>
        </receiver>

        <!-- Replace with your Fabric Crashlytics key from Fabric.io -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="008bf8a4616494c8a4d4458210e653861643203a" />

    </application>

</manifest>
